img{
    align-items: center;
    height: 275px;
}
a {
    color: green;
}
.band {
    text-align: center;
    color:   #d68910 ;
    font-family: Courier New, Courier, monospace;
    text-decoration: none;
    background-image: "https://www.nawakulture.fr/images/musique/cd/acdc-backinblack.jpg";
}

li{
    font-style: italic;
}

body{
    background-color: #000000;
}
h2{
    color:whitesmoke;
}
h4{
    color:whitesmoke;
}
th{
    color: whitesmoke;
}
td{
    color:#d68910;
}